<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Logout</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/main.css'>
</head>

<body>
<h1 id="introduction"></h1>
<section id="logout-view">
  <form action="/api/users/logout" method="GET" id="logout-form">
    <button type="submit" id="logout-button">Logout</button>
  </form>

  <form action="/api/users/logout" method="GET" id="logout-form">
    <button type=submit id="home-button">Home</button>
  </form>

</section>

<script src="../public/scripts/main.js"></script>
</body>

</html>
