<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Quiz</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/main.css'>

</head>
<body>


<h1>Quiz on Important Facts</h1>
<section class="container" id="start-container">
  <a href="questions.html">
    <button id="start">Rozpocznij QUIZ</button>
  </a>
</section>
<section class="container" id="stats-container">
  <table class="table" id="scores-table">
    <tr>
      <th>RESULT</th>
      <th>PENALTY</th>
    </tr>
  </table>

</section>
<script src="../public/scripts/quiz.js"></script>
</body>
</html>
