doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Quiz
        meta(name='viewport', content='width=device-width, initial-scale=1')
    style
        include stylesheets/main.css
        //link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/main.css')
    body
        h1 Trying to solve quiz for the second time error
        a(href='/')
            button#home-button Home
